{% extends 'theme/frontpage.html' %}
{% block frontpage %}
    {{ block.super }}
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea class="form-control" rows="3" name="new_msg" placeholder="Write a message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-lg btn-primary">Save message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ul class="list-group">
                    {% for msg in msgs %}
                        <li class="list-group-item"><strong>Message:</strong> {{ msg.msg }}</a></li>
                        <li class="list-group-item addmarginbot"><strong>Written by:</strong> {{ msg.created_by }}</li>        
                        {% empty %}
	                       <li>Sorry, list is empty.</li>
                    {% endfor %}
                </ul>

                 <div class="pagination">
                     <span class="step-links">
                        {% if msgs.has_previous %}
                            <a href="?page={{ msgs.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ msgs.number }} of {{ msgs.paginator.num_pages }}.
                        </span>

                        {% if msgs.has_next %}
                            <a href="?page={{ msgs.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
{% endblock %}