{% extends 'theme/frontpage.html' %}
{% block facebook_sharing %}
    <meta property="og:title" content="Kvittrmsg number: {{ msg.id }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="kvittr.no" />
    <meta property="og:description" content="{{ msg.msg }}" />
    <meta property="og:url" content="http://kvittr.no/meldinger/{{ msg.id }}" />
    <meta property="og:image" content="http://kvittr.no/images/img.png" />
    <meta property="og:image:secure_url" content="http://kvittr.no/images/img.png" />
{% endblock %}
{% block frontpage %}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
    		<h2>Details on message {{ msg.id }}</h2>
    		<ul class="list-group">
        		<li class="list-group-item">Message: {{ msg.msg }}</li>
        		<li id="id-likes-for-msg-{{ msg.id }}" class="list-group-item">{{ msg.likes }}</li>
        		<li class="list-group-item"><a href="" class="add-likes-link" data-msgid="{{ msg.id }}">Like this message</a></li>
        		<li class="list-group-item">Posted by: {{ msg.created_by }} on {{ msg.created_datetime }}</li>
    		</ul>
    	</div>
    </div>
    <input type="hidden" id="add_likes_url" value="/kvittrmsg/{{ msg.id }}/add_likes">
{% endblock %}