{% extends 'theme/base.html' %}
{% block body %}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Kvittr</a>
      </div>
      {% if user.is_authenticated %}
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'user_logout' %}">Log out</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
      {% endif %}
    </div>
  </nav>

  <div class="container">
    <div class="content">
      {% if messages %}
        <ul class="messages"> 
          {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if user.is_anonymous %}
        <div class="starter-template">
          <h1>Welcome to kvittr!</h1>
          <p class="lead">Read other peoples messages.<br>Share your thoughts.</p>
          {% include "useraccounts/login.html" %}
          {% include "useraccounts/register.html" %}
        </div> 
      {% else %}
        <p>You are logged in</p>
      {% endif %}
    </div>    
  </div><!-- /.container -->

{% endblock %}